<div class="login-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="log-in card">
          <div class="card-header">
            <h2>Log in</h2>
          </div>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="card-body">
              <%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'Email', input_html: { class: 'form-control' } %>
              <%= f.input :password, required: true, label: false, placeholder: 'Password', input_html: { class: 'form-control' } %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              <%= f.button :submit, "Log in", class: 'btn-lg btn-info btn-block' %>
            </div>
          <% end %>
          <!--          <div class="card-footer">-->
          <%#= render "devise/shared/links" %>
          <!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>